<div class="feed">
  <% @tweets.each do |tweet| %>
    <div class="tweet d-flex">
      <%= image_tag "user-icon.png", size: "75x75", class: "poster-avatar" %>
      <div class="tweet-content">
        <!-- TODO: replace with link_to -->
        <a href="#"
          >Apply
          <i class="fas fa-certificate"></i>
          <span class="tweet-username">@Apply</span>
        </a>
        <span class="tweet-time"> - 7h</span>
        <p class="tweet-body">
          <%= tweet.body %>
        </p>
      </div>
    </div>
  <% end %>
</div>
