<div class="trending">
  <div class="d-flex justify-content-between">
    <h2>Trending</h2>
    <i class="fas fa-cog"></i>
  </div>
  <ul>
    <li>
      <div class="trend">
        <p class="trend-position">1 - Tendencias</p>
        <p class="trend-hashtag">#TikTok</p>
        <p class="trend-tweets">59k tweets</p>
      </div>
    </li>
  </ul>
</div>
