<main class="d-flex flex-column">
  <div class="title d-flex align-items-center justify-content-between">
    <h1>Home</h1>
    <i class="far fa-star"></i>
  </div>
  <%= render 'form' %>
  <%= render 'feed' %>
</main>
<div class="d-flex flex-column">
  <div class="search-bar">
    <input type="text" placeholder="Search on Twitter">
  </div>
  <%= render 'trending' %>
</div>
