/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */



nav {
  width: 30vw;
  height: 100vh;
}

ul {
  list-style-type: none;
}

nav li {
  padding: 10px;
}

.account-panel {
  padding-bottom: 50px;
}

section {
  margin-left: 30vw;
}

.title {
  height: 55px;
  width: 600px;
  padding: 15px;
  border-bottom: solid 1px #ebebeb;
  border-right: solid 1px #ebebeb;
  background-color: white;
}

.title h1{
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 0;
}
.title p {
  font-size: 0.9rem;
}

.search-bar {
  background-color: white;
  height: 50px;
  padding-top: 5px;
}

.search-bar input {
  background-color: rgb(227, 245, 255);
  height: 40px;
  border-radius: 20px;
  padding-left: 15px;
  width: 300px;
}
.search-bar input:focus {
  border: 1px solid rgb(0, 153, 255)
}

.trending {
  width: 300px;
  padding: 60px 20px;
}

.trending h2 {
  font-size: 25px;
  font-weight: bold;
}

.trend p {
  margin: 0px;
}

main { 
  margin-left: 20px;
  margin-right: 20px;
  min-width: 600px;
  border-left: solid 1px #ebebeb;
  border-right: solid 1px #ebebeb;
}

.new-tweet {
  padding-top: 50px;
  margin-bottom: 20px;
  border-top: solid 1px #ebebeb;
  border-bottom: solid 1px #ebebeb;
}

.new-tweet-content {
  margin-top: 25px;
  width: 100%
}

.new-tweet-content textarea {
  border: none;
  overflow: auto;
  outline: none;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;

  resize: none;
  width: 100%;
}

.icon-bar {
  width: 30%;
}

.new-tweet-option-bar {
  margin-top: 25px;
  margin-bottom: 25px;
}

.tweet {
  border-top: solid 1px #ebebeb;
  border-bottom: solid 1px #ebebeb;
  padding-right: 10px;
}

.tweet-content {
  margin-top: 8px;
}

.tweet-header .ellipsis {
  border-radius: 50%;
  text-align: center;
}

.tweet-header .ellipsis:hover {
  background-color: #ebebeb;
}

input {
  border: solid 1px #ebebeb;
}

.actions input {
  background: none;
	background-color: rgb(26, 146, 219);
  color: white;
	border: none;
	padding: 7px 20px; 
  border-radius: 20px;
  margin-right: 20px;
}

.login-form {
  width:min-content;
  margin: auto;
}

.signup-form {
  width:min-content;
  margin: auto;
}

.edit-account-form {
  width:min-content;
  margin: auto;
}

.forgot-password-form {
  width:min-content;
  margin: auto;
}